In [ ]:
from sqlalchemy import create_engine

## Create engine

In [ ]:
engine = create_engine('sqlite:///data_monitor.db', echo = True)

In [ ]:
# sqlite in-memory
#engine = create_engine('sqlite://', echo = True)

In [ ]:
engine

## MetaData for table creation

In [ ]:
from sqlalchemy import MetaData
# Metadata contains definitions of tables and associated objects such as index, view, triggers, etc.
meta = MetaData()

In [ ]:
# you can use the metadata obj to hold tables info
from sqlalchemy import Table, Column, Integer, String

In [ ]:
# create a table object called students
data_monitor = Table(
    "data_monitor",
    meta, # the metadata obj to hold this table info
    Column('id', Integer, primary_key = True), 
    Column('name', String), 
    Column('lastname', String), 
)

In [ ]:
# now you can actually use the metadata obj to execute
# create tables. It takes the engine as argument
# now this actually creates the database
meta.create_all(engine)

## Use table methods to create expression

In [ ]:
# create a sql query expression
ins = data_monitor.insert()
str(ins)

In [ ]:
# bind and compile with values inserted
ins = ins.values(id=1, name="Bob", lastname="Smith")

In [ ]:
ins.compile().params

## Execute expression

In [ ]:
# create connection
conn = engine.connect()

In [ ]:
# we can use the expression or string query to execute
conn.execute(ins)

In [ ]:
# another 1
ins = data_monitor.insert().values(name = 'Shin', lastname = 'Hsu')
result = conn.execute(ins)

In [ ]:
# more
ins = data_monitor.insert().values(name = 'Kyle', lastname = 'Hsu')
result = conn.execute(ins)

In [ ]:
# commit the updates
conn.commit()

## Textual SQL

In [ ]:
from sqlalchemy import text
t = text("SELECT * FROM data_monitor")
result = conn.execute(t)

In [ ]:
result.fetchall()

In [ ]:
conn.close()

In [ ]:
# You can format the query using text
# s = text("select data_monitor.name, data_monitor.lastname from data_monitor where data_monitor.name between :x and :y")
# conn.execute(s, x='A', y='L').fetchall()

In [ ]:
# from sqlalchemy.sql import select
# s = select([text("data_monitor.name, data_monitor.lastname from data_monitor")]).where(text("data_monitor.name between :x and :y"))
# conn.execute(s, x = 'A', y = 'L').fetchall()

In [ ]:
%pip list

In [ ]:
conn.close()

## Complete Code

In [4]:
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import MetaData
from sqlalchemy import insert


def make_tb(engine, tb_name, columns):
    meta = MetaData()

    # create a table object called students
    tb = Table(
        tb_name,
        meta, # the metadata obj to hold this table info
        *columns    
    )

    meta.create_all(engine)
    return tb

    
def insert_rows(tb, rows):
    conn = engine.connect()
    for row in rows:
        ins = tb.insert().values(**row)
        result = conn.execute(ins)
    conn.commit()
    conn.close()
    

    
# run code

engine = create_engine('sqlite:///test.db', echo=True)

columns = [
    Column('id', Integer, primary_key=True), 
    Column('name', String), 
    Column('age', String), 
]


tb_name = "test_table_4"

tb = make_tb(engine, tb_name, columns)

2023-04-02 19:43:32,839 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-02 19:43:32,840 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test_table_4")
2023-04-02 19:43:32,842 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-02 19:43:32,849 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
rows = [
    {"name": "Jess", "age": 10},
    {"name": "Shin", "age": 5},
]

insert_rows(tb, rows)
engine.dispose()

2023-04-02 19:43:49,958 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-02 19:43:49,959 INFO sqlalchemy.engine.Engine INSERT INTO test_table_4 (name, age) VALUES (?, ?)
2023-04-02 19:43:49,960 INFO sqlalchemy.engine.Engine [generated in 0.00301s] ('Jess', 10)
2023-04-02 19:43:49,963 INFO sqlalchemy.engine.Engine INSERT INTO test_table_4 (name, age) VALUES (?, ?)
2023-04-02 19:43:49,964 INFO sqlalchemy.engine.Engine [cached since 0.006388s ago] ('Shin', 5)
2023-04-02 19:43:49,965 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
# let's say that you already have the table creared 
# then you just need to get the table

def get_tb(tb_name):
    meta = MetaData()
    
    # here it needs to match what you already have
    columns = [
    Column('id', Integer, primary_key=True), 
    Column('name', String), 
    Column('age', String), 
    ]

    # create a table object called students
    tb = Table(
        tb_name,
        meta, # the metadata obj to hold this table info
        *columns    
    )
    return tb



def insert_rows(tb, rows):
    conn = engine.connect()
    for row in rows:
        ins = tb.insert().values(**row)
        result = conn.execute(ins)
    conn.commit()
    conn.close()

engine = create_engine('sqlite:///test.db', echo=True)


tb_name = "test_table_4"

tb = get_tb(tb_name)
rows = [
    {"name": "Bob", "age": 10},
    {"name": "Jack", "age": 5},
]

insert_rows(tb, rows)
engine.dispose()

2023-04-02 19:44:02,214 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-02 19:44:02,215 INFO sqlalchemy.engine.Engine INSERT INTO test_table_4 (name, age) VALUES (?, ?)
2023-04-02 19:44:02,217 INFO sqlalchemy.engine.Engine [generated in 0.00305s] ('Bob', 10)
2023-04-02 19:44:02,219 INFO sqlalchemy.engine.Engine INSERT INTO test_table_4 (name, age) VALUES (?, ?)
2023-04-02 19:44:02,220 INFO sqlalchemy.engine.Engine [cached since 0.006883s ago] ('Jack', 5)
2023-04-02 19:44:02,221 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
# Design ideas
"""
1. primary key = project_name + rule_name + date(day)
2. Create a dev_data_monitor.db when using "data-monitor init"
3. The entry_point provides flag send_to_db=True, env=dev
4. When record is sent to db, it overrides the current data if primary key already exists
"""

In [34]:
from sqlalchemy import text
from sqlalchemy import update


def insert_or_update_if_key_exists(rows):
    result = None
    conn = engine.connect()
    for row in rows:
        try:
            ins = tb.insert().values(**row)
            conn.execute(ins)
            conn.commit()
        except Exception as err:
            print("Insert Error:", err)
            key = row['id']
            try:
                print("Updating key:", key)
                upd = tb.update().where(tb.c.id==key).values(name=row["name"], age=row['age'])
                conn.execute(upd)
            except Exception as err:
                print("Update Error:", err)
    conn.commit()  
    conn.close()
    return result

In [35]:
rows = [
    {"id": 1, "name": "Shin", "age": 40},
    {"id": 2, "name": "Jack", "age": 25},
]

insert_or_update_if_key_exists(rows)

2023-04-02 20:15:29,660 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-02 20:15:29,662 INFO sqlalchemy.engine.Engine INSERT INTO test_table_4 (id, name, age) VALUES (?, ?, ?)
2023-04-02 20:15:29,663 INFO sqlalchemy.engine.Engine [cached since 1850s ago] (1, 'Shin', 40)
Insert Error: (sqlite3.IntegrityError) UNIQUE constraint failed: test_table_4.id
[SQL: INSERT INTO test_table_4 (id, name, age) VALUES (?, ?, ?)]
[parameters: (1, 'Shin', 40)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
Updating key: 1
2023-04-02 20:15:29,667 INFO sqlalchemy.engine.Engine UPDATE test_table_4 SET name=?, age=? WHERE test_table_4.id = ?
2023-04-02 20:15:29,668 INFO sqlalchemy.engine.Engine [cached since 147.4s ago] ('Shin', 40, 1)
2023-04-02 20:15:29,671 INFO sqlalchemy.engine.Engine INSERT INTO test_table_4 (id, name, age) VALUES (?, ?, ?)
2023-04-02 20:15:29,672 INFO sqlalchemy.engine.Engine [cached since 1850s ago] (2, 'Jack', 25)
Insert Error: (sqlite3.IntegrityError) UNIQUE constraint failed: test_table_4.id
[SQL: INSERT INTO test_table_4 (id, name, age) VALUES (?, ?, ?)]
[parameters: (2, 'Jack', 25)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
Updating key: 2
2023-04-02 20:15:29,675 INFO sqlalchemy.engine.Engine UPDATE test_table_4 SET name=?, age=? WHERE test_table_4.id = ?
2023-04-02 20:15:29,676 INFO sqlalchemy.engine.Engine [cached since 147.4s ago] ('Jack', 25, 2)
2023-04-02 20:15:29,678 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
from sqlalchemy import text
t = text("SELECT * FROM data_monitor")
result = conn.execute(t)

In [30]:
tb

Table('test_table_4', MetaData(), Column('id', Integer(), table=<test_table_4>, primary_key=True, nullable=False), Column('name', String(), table=<test_table_4>), Column('age', String(), table=<test_table_4>), schema=None)

In [ ]:
>>> from sqlalchemy import update
>>> stmt = (
...     update(user_table)
...     .where(user_table.c.name == "patrick")
...     .values(fullname="Patrick the Star")
... )
>>> print(stmt)
UPDATE user_account SET fullname=:fullname WHERE user_account.name = :name_1

In [33]:
row = {"id": 1, "name": "Bob", "age": 10}

conn = engine.connect()
    
try:
    ins = tb.insert().values(**row)
    result = conn.execute(ins)
    conn.commit()
except Exception as err:
    print("Insert Error:", err)
    key = row["id"]
    try:
        upd = tb.update().where(tb.c.id==key).values(name=row["name"], age=row['age'])
        conn.execute(upd)
    except Exception as err:
        print("Update Error:", err)
conn.commit()  
conn.close()

2023-04-02 20:13:02,222 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-02 20:13:02,224 INFO sqlalchemy.engine.Engine INSERT INTO test_table_4 (id, name, age) VALUES (?, ?, ?)
2023-04-02 20:13:02,225 INFO sqlalchemy.engine.Engine [cached since 1703s ago] (1, 'Bob', 10)
Insert Error: (sqlite3.IntegrityError) UNIQUE constraint failed: test_table_4.id
[SQL: INSERT INTO test_table_4 (id, name, age) VALUES (?, ?, ?)]
[parameters: (1, 'Bob', 10)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
2023-04-02 20:13:02,229 INFO sqlalchemy.engine.Engine UPDATE test_table_4 SET name=?, age=? WHERE test_table_4.id = ?
2023-04-02 20:13:02,231 INFO sqlalchemy.engine.Engine [generated in 0.00143s] ('Bob', 10, 1)
2023-04-02 20:13:02,233 INFO sqlalchemy.engine.Engine COMMIT